html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body{
    font-family: 'Montserrat', sans-serif;
}


/* Výchozí nastavení */

h1{
    font-size: 28px;
    text-align: center;
}